{% extends "base.html" %}
{% load static %}
<!doctype html>
{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h3>历史订单</h3>
</div>
      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>序号</th>
              <th>订单编号</th>
              <th>行程时间(min)</th>
              <th>行驶距离(km)</th>
              <th>实际减排量(g CO2)</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1,001</td>
              <td>ACGsokuaqupsychvuoFGlhqp6mrjuz7p</td>
              <td>45</td>
              <td>6.2</td>
              <td>301</td>
            </tr>
            <tr>
              <td>1,002</td>
              <td>AAAgsrsaiqgsw6eDuvwAjqsm5tznlp9k</td>
              <td>31</td>
              <td>12</td>
              <td>34</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>AAHokgp4vAoxubcArqJDfhun.izdpv3i</td>
              <td>25</td>
              <td>6</td>
              <td>-32</td>
            </tr>
            <tr>
              <td>1,003</td>
              <td>AAEnqnk1uqiku9lxymDyisjm3mmdrq8q</td>
              <td>18</td>
              <td>4.2</td>
              <td>-45</td>
            </tr>
            <tr>
              <td>1,004</td>
              <td>AAHuhsq5mAony3dqAoEEhsgn7iBhkv0l</td>
              <td>3302</td>
              <td>17</td>
              <td>207</td>
            </tr>
            <tr>
              <td>1,005</td>
              <td>AAKpjmq9rtgkA8rswpFJjtom9gzanobe</td>
              <td>45</td>
              <td>28.7</td>
              <td>220</td>
            </tr>
            <tr>
              <td>1,006</td>
              <td>AALrntf@kyavA6mqtvzDkkln-nukunal</td>
              <td>21</td>
              <td>8.7</td>
              <td>263</td>
            </tr>
            <tr>
              <td>1,007</td>
              <td>AAxkrri-gvpsrahrzoHKnfuj0ktcov0q</td>
              <td>31</td>
              <td>10</td>
              <td>271</td>
            </tr>
            <tr>
              <td>1,008</td>
              <td>AAzgqqu-utcjt_kspoGKstos1noawx_i</td>
              <td>24</td>
              <td>9.6</td>
              <td>105</td>
            </tr>
            <tr>
              <td>1,009</td>
              <td>ABAfrik4utpnw3juorxAsotu9upiqm</td>
              <td>irrelevant</td>
              <td>visual</td>
              <td>layout</td>
            </tr>
            <tr>
              <td>1,010</td>
              <td>ABCkqpr7jvjmx4ltvAzKhkfjbjzmoxcl</td>
              <td>32</td>
              <td>9.9</td>
              <td>136</td>
            </tr>
            <tr>
              <td>1,011</td>
              <td>ABFkjnr1tzhjq-oCpvDMnljg8nmevtad</td>
              <td>38</td>
              <td>15.9</td>
              <td>116</td>
            </tr>
            <tr>
              <td>1,012</td>
              <td>ABHhrpu8pulws0hzAzAzqkoo6txotw</td>
              <td>22</td>
              <td>7.2</td>
              <td>-26</td>
            </tr>
            <tr>
              <td>1,013</td>
              <td>ABLinmj-mteno9cortHKkgjj0utijr1l</td>
              <td>54</td>
              <td>31</td>
              <td>542</td>
            </tr>
            <tr>
              <td>1,014</td>
              <td>ABygtsk1nsmio4lsuAKzgfoh9jApqx9j</td>
              <td>29</td>
              <td>12</td>
              <td>102</td>
            </tr>
            <tr>
              <td>1,015</td>
              <td>ABMulsf-logup8evowABqkoi@rrdqz8g</td>
              <td>32</td>
              <td>15</td>
              <td>312</td>
            </tr>
          </tbody>
        </table>
      </div>
{% endblock %}